.year {
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 80px;
  font-family: 'Kufam', cursive;
  color: white;
  margin-top: 40px;
  position: relative;
  animation: fadeInDown;
  animation-duration: 2s;
}

.btn_year {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
}

.prev {
  margin-right: 15px;
  top: 20px;
  left: 0;
}

.next {
  margin-left: 15px;
  top: 20px;
  right: 0;
}

.list_month {
  justify-content: center;
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
}
