.day-page {
  width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  font-size: 35px;
  color: white;
  font-family: 'Roboto', sans-serif;
  position: relative;
  justify-content: center;
  align-items: center;
}

.todo-form {
  display: flex;
  flex-direction: column;
  width: 550px;
  min-width: 550px;
  margin-top: 25px;
  text-align: center;
  animation: bounceInUp ;
  animation-duration: 1s;
}

.dayImg {
  width: 400px;
  height: 400px;
  text-align: center;
  animation: zoomIn;
  animation-duration: 1.5s;
}

h4 {
  margin: 0;
  margin-bottom: 30px;
  animation: fadeInUp;
  animation-duration: 2s;
}

.todo-form input,
.button-delete {
  z-index: 101;
  height: 30px;
  margin-bottom: 35px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border-radius: 15px;
  border: none;
  padding: 2px 10px;
  outline: none;
}

.todo-form span {
  font-size: 25px;
  margin-bottom: 5px;
}

.todo-form input[type=submit] {
  margin-top: 23px;
  background-color: rgb(0, 223, 0);
}

.todo-form input[type=submit]:hover,
.button-add:hover {
  cursor: pointer;
  background-color: rgb(0, 185, 0);
}

.todo-item {
  width: 900px;
  max-width: 900px;
  overflow: hidden;
  min-height: 90px;
  display: block;
  border: 1px solid white;
  padding-top: 15px;
  word-wrap: break-word;
  animation: fadeInUp;
  animation-duration: 1.5s;
}

.button-add{
  background-color: rgb(0, 223, 0);
  border: none;
  outline: none;
  margin-top: 28px;
  width: 500px;
  height: 35px;
  text-align: center;
  display: block;
  border-radius: 20px;
  font-size: 20px;
  margin: 60px 0;
  animation: fadeInUp;
  animation-duration: 2s;
}

.button-delete {
  background-color: rgb(255, 0, 0);
}

.todo-index {
  width: 50px;
  float: left;
  border: 1px solid white;
  height: 105px;
  margin-top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
