.day-title {
  width: 56px;
  display: flex;
  justify-content: center;
  font-style: italic;
  margin-bottom: 15px;
}

.day {
  width: 56px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  border-radius: 50%;
  padding-top: 3px;
}

.day.today {
  width: 36px;
  margin: 0 10px;
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

.day.has-todos {
  background-color: red;
  border-radius: 50%;
}
